
body {
    line-height: 2.6;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}


* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }


.logo-name {
    position: relative;
    top: 25px;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
}

.logo-name_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1075px;
    flex-direction: row-reverse;
}

.logo-name_container img {
    width: 130%;
    left: -4px;
    top: -30px;
    position: absolute;
}

.discount {
    margin: 0 30px;
    color: red;
    font-size: 18px;
    position: relative;
    font-weight: 600;
    top: 25px;
    position: relative;
    text-transform: none;
}

.logo-link_container {
    display: flex;
}


.logo-link_container li {
    position: relative;
    left: 18px;
    top: 25px;
    color: #1d1f5a;
    list-style: none;
    text-transform: none;
    margin: 0 30px;
    font-size: 18px;
    font-weight: 600;
}

.logo-container {
    display: flex;
    background-color: #2caee2;
    justify-content: center;
    border-bottom: 2px solid black;
}

.logo-container_space {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    height: 50px;
    
}

.logo-info {
    display: flex;

}

.logo-info li {
    margin: 0 30px;
    list-style: none;
}

.banner-main {
    display: flex;
    justify-content: center;    
    margin-top: 40px;
    padding: 0px;
    height: 300px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.banner-main img {
    width: 100%;
    height: 130%;
    object-fit: cover;
    overflow: hidden;
}

.cards-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.cards-container {
    display: flex;
    width: 1170px;
    position: relative;
    top: 50px;
    margin: 0 auto 0;
    justify-content: space-between;
}

.cards-container ul {

    padding: 0;
    width: 230px;
    height: 198px;
    margin: 0 5px;
    border: 1px solid black;
}


.cards-container ul img{
    margin: 0px;
    padding: 0;
    width: 230px;
    height: 198px;
    opacity: 0.8;
    object-fit: fill;
}

.cards-container ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    position: relative;
    width: 120px;
    left: 55px;
    border: 0 20px;
    top: -135px;
    font-size: 16px;
    font-weight: 70
}

.cards-container p {
    display: flex;
    width: 240px;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    top: 205px;
    font-weight: 600;
    color: black;
    padding: 0 5px;

}

.cards-container ul span {
    display: flex;
    width: 221px;
    font-size: 15px;
    height: 185px;
    line-height: 20px;
    opacity: 0.7;
    margin-top: -15px;
    color: black;
    padding: 0 4px;
}

.container-banner {
    display: flex;
    position: absolute;
}

.banner-main div{
    position: absolute;
    top: 30px;
    width: 370px;
    font-size: 50px;
    margin-left: 240px;
    text-transform: none;
    color: #0090ff;
}


.banner-main button{
    position: absolute;
    top: 150px;
    right: 20px;
    border-radius: 15px;
    background-color: #ffff80;
    z-index: 3;
    color: red;
    padding: 5px 20px;
    font-size: 20px;
    border: 1px solid red;
    box-shadow: 3px 3px 3px rgb(56, 56, 56);
}


.banner-main span{
    color: #0e10b3;
    width: 340px;
    position: relative;
    top: -70px;
    display: block;
    font-size: 45px;
    margin-left: 40px;
    text-transform: none;
}

.ids {
    position: absolute;
    height: 480px;
    text-decoration: none;
}


.container-id {
    display: flex;
    width: 1050px;
    justify-content: space-between;
    margin: 0 auto 0;
}

.container-left {
    width: 388px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 40px;
}

.container-right {
    display: block;
    width: 580px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 40px;
    line-height: 20px;
}

.container-right img {
    width: 560px;
    height: 350px;
    object-fit: cover;

}

.sale-product-cart__map iframe {
    border: 2px solid rgb(112, 238, 98);
    border-radius: 15px;
}

.right-text {
    line-height: 20px;
}

.numbers {
    display: flex;
    width: 560px;
    flex-direction: column;
    line-height: 30px;
    position: relative;
    top: -40px;
    align-items: flex-end;
}

h3 {
    margin: 0;
}

.footer {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 70px;
    background-color: #0090ff;
}

.wrapper {
    position: relative;
    min-height: 150%;
  }

.footer div {
    display: flex;
    margin: 0 auto 0;
    justify-content: center;
}